.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
nodejs/node_modules
untracked
# data/myhelloiot
mermaid
cache
built-in-webpages/setup/build_setup/node_modules
data-web/imu3d-experimental/node_modules/
data-web/imu3d-experimental/dist
data
.pioenvs
.piolibdeps
