[submodule "lib/PicoMQTT"]
	path = lib/PicoMQTT
	url = https://github.com/mhaberler/PicoMQTT.git
[submodule "lib/PicoWebsocket"]
	path = lib/PicoWebsocket
	url = https://github.com/mlesniew/PicoWebsocket.git
[submodule "myhelloiot"]
	path = myhelloiot
	url = https://github.com/mhaberler/myhelloiot/
[submodule "quaternion_sensor_3d_nodejs"]
	path = quaternion_sensor_3d_nodejs
	url = https://github.com/mhaberler/quaternion_sensor_3d_nodejs.git
