[submodule "lib/PicoMQTT"]
	path = lib/PicoMQTT
	url = https://github.com/mhaberler/PicoMQTT.git
[submodule "lib/PicoWebsocket"]
	path = lib/PicoWebsocket
	url = https://github.com/mlesniew/PicoWebsocket.git
[submodule "myhelloiot"]
	path = myhelloiot
	url = https://github.com/mhaberler/myhelloiot/
[submodule "libwebp"]
	path = libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
